@charset "UTF-8";

body {
  font-family: 'Lato','Raleway';
}

.subtitle {
  font-family: 'Raleway';
  font-size: 24px;
}

.header {
  background-color: #fff;
  position: fixed;
  width: 100%;
}

.inner{
  margin: 0 auto;
  width: 1100px;
}

.header-inner{
  display: table;
  padding: 15px 0;
}

.header-inner::after{
  clear:both;
  content: '';
  display: block;
}

.header-inner-bolt{
  float: left;
}

.header-inner-text{
  background-color: #74cfae;
  float: right;
  padding: 14px 12px;
  text-align: center;
}

.button-init {
  background: none;
  border: none;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  line-height: 26px;
  outline: none;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.header-inner-button{
  transition: all 0.3s;
}

.button-init:hover {
  color: #333;
}

.title {
  background-color: #f2f2f2;
  width: 100%;
}

.title-inner{
  display: table;
  padding: 250px 0;
  text-align: center;
}

.title-inner-theme {
  display: inline-block;
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 20px;
}

.title-inner-sub {
  color: #c0c0c0;
  display: block;
  font-size: 30px;
}

.up_section {
  background-color: #74cfae;
  width: 100%;
}

.up_section-inner{
  padding-top: 50px;
}

.up_section-inner::after{
  clear:both;
  content: '';
  display: block; 
}

.up_section-inner-img {
  box-sizing: border-box;
  float: left;
  text-align: center;
  width: 550px;
}

.up_section-inner-content {
  display: table;
  float: left;
  text-align: center;
  width: 550px;
}

.up_section-content-title{
  color: #fff;
  text-align: center;
  margin-bottom: 35px;
}

.up_section-content-sub{
  color: #fff;
  font-size: 20px;
  font-family: 'Lato';
  white-space: pre-wrap;
}

.article {
  background-color: #f2f2f2;
  width: 100%;
}

.article-inner {
  padding: 60px 0 70px;
}

.article-inner-title {
  text-align: center;
  color: #333;
  margin-bottom: 40px;
}

.article-inner-contnet{
  margin-bottom: 90px;
}

.article-inner-contnet::after {
  clear:both;
  content: '';
  display: block; 
}

.article-inner-content-img {
  float: left;
  margin: 0 0 80px 100px;
  opacity: 0.7;
  transition: all 0.3s;
}

.article-inner-content-img:hover{
  opacity: 1;
}

.article-inner-content-img:nth-child(3n-2) {
  margin-left: 0;
}

.article-inner-content-img:nth-child(n+4) {
  margin-bottom: 0;
}

.article-inner-foot{
  display: table;
  padding: 0 180px;
}

.article-inner-foot-content{
  display: table-cell;
  text-align: center;
}

.article-inner-foot-button{
  display: table-cell;
  width: 120px;
}

.right-box-button {
  background-color: #74cfae;
  text-align: center;
}

.article-inner-foot-text {
  color: #333;
  font-size: 20px;
  float: left;
  margin-right: 90px;
}

.article-foot-button {
  background-color: #74cfae;
  text-align: center;
  padding: 14px 20px;
}

.bottom_section {
  background-color: #4e4e4e;
  width: 100%;
}

.bottom_section-inner{
  padding: 70px 0 100px;
  text-align: center;
}

.bottom_section-inner-content:after{
  content: '';
  display: block;
  clear: both;
}

.bottom_section-inner-title{
  color: #ffffff;
  margin-bottom: 60px;
}

.bottom_section-inner-img {
  float: left;
  margin-left: 180px;
  width: 122px;
}

.bottom_section-inner-img::after {
  content: '';
  display: block;
  clear: both;
}

.bottom_section-inner-img:first-child{
  margin-left: 0;
}

.bottom_section-inner-text{
  color: #ffffff;
  font-size: 16px;
}

.nav{
  background-color: #f2f2f2;
}

.nav-inner{
  box-sizing: border-box;
  padding: 200px 180px;
}

.nav-inner::after{
  content: '';
  display: block;
  clear: both;
}

.nav-inner-content{
  color: #74cfae;
  float: left;
  height: 114px;
  line-height: 114px;
  text-align: center;
  transition: all 0.3s;
  width: 185px;
}

.nav-inner-content:hover{
  background-color: #ffffff;
}

.nav-inner-content-icon {
  vertical-align: middle;
}

.footer{
  background-color: #74cfae;
}

.footer-inner{
  padding: 20px 0 25px 0;
}

.footer-inner::after{
  content: '';
  display: block;
  clear: both;
}

.footer-inner-text{
  color: #ffffff;
  float: right;
}


